html {
  scroll-behavior: smooth;
}

body{
    background-image: url(galaxy-bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Jaro', sans-serif;
        color: white;
}

.header{
    display: flex;
    width:50%;
    height: 80px;
    background-color: rgba(0, 134, 207, 0.2);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    position: sticky;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-icons{
    width: 50px;
    height: 50px;
}

.home{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 5%;
    flex-direction: column;
}

.home-h1{
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.home-h2{
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.projects{
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.title-h1{
    font-size: 40px;
    align-self: center;
    margin-top: 0;
}

.card {
  background-color: #005BC3;
  box-shadow: 0 8px 16px 0 white;
  transition: 0.3s;
  margin: 30px;
}

.card:hover {
  box-shadow: 0 24px 48px 0 white;
  scale: 120%;
}

.container {
  padding: 2px 16px;
}

.card-img{
    max-width: 650px;
    height: auto;
    padding-bottom: auto;
}

.card-h4{
    font-size: 20px;
}
.card-p{
    font-size: 15px;
}

.card-holder{
    display: flex;
    justify-content: space-around;
}

.profile{
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-top: 3%;
}

.profile-content{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    max-width: 80vw;
}

.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile-h2{
    font-size: 35px;
    margin-top: 0;
}

.profile-h3{
    font-size: 25px;
    margin-top: 0;
}

.social-icon{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.skillset{
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.skillset-content{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

.skill-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.skill-item{
    list-style: none; 
    padding-left: 90px; 
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: 70px; 
    font-size: 20px;
}